<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vesna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Vesna.Properties.Settings.database_inspectorConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\database_inspector.mdb;Persist Security Info=True;Jet OLEDB:Database Password=hfpdbnbt"
        providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <Vesna.Properties.Settings>
      <setting name="Klimat_usloviya" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="YearIndex" serializeAs="String">
        <value>1.9749</value>
      </setting>
      <setting name="COMPortName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="ConstDorojhnoKlimatZon" serializeAs="String">
        <value>2.07</value>
      </setting>
      <setting name="ConstKapitalniyRemont" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConstKpmRegionRoad" serializeAs="String">
        <value>0.285</value>
      </setting>
      <setting name="ConstKlimatAxisMult" serializeAs="String">
        <value>2.9</value>
      </setting>
      <setting name="InaccuracyRoulette" serializeAs="String">
        <value>0.04</value>
      </setting>
      <setting name="InaccuracyScales" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="DopustimiyProcentAxis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DopustimiyProcentFullMass" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConstKpmFederalRoad" serializeAs="String">
        <value>1</value>
      </setting>
    </Vesna.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>